// SIZES
$smallBreakPoint: 30rem;
$mediumBreakPoint: 48rem;
$largeBreakPoint: 64rem;
$extraLargeBreakPoint: 80rem;

$horizontalSpace: 0.5rem;
$horizontalSpaceLarge: 1rem;

// COLOR ROLES
$primary: #ed0000;
$bg-primary: #181818;
$text: #fcfcfc;
$text-secondary: #e0e0e0;
$border: #eee;

// SHADOWS
$shadowMainBox: 3px 3px 17px 0 rgba($bg-primary, 0.7);

// TRANSITIONS
$transition-primary: 0.2s ease-in-out;