@import '../lib/styles/_variables.scss';

.Demo {
  background-color: $bg-primary;
  min-height: 100vh;

  &__load-btn {
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: $bg-primary;
    color: $text;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid $border;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: lighten($bg-primary, 10%);
    }      
  }

  &__github-logo {
    width: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
}

